<div class="col-md-8">
    <h1>Listagem de empresas</h1>

    <div class="btn-group">
        <a href="<%= new_backoffice_company_path %>" class="btn btn-primary active" aria-current="page">Criar Empresa</a>
      </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">CNPJ</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <% @companies.each do |company| %>
            <tr>
                <th scope="row"><%= company.id %></th>
                <td scope="row"><%= company.cnpj %></td>
                <td scope="row"><%= company.name %></td>
                <td scope="row"><%= company.status %></td>
            </tr>
        <% end %>
        </tbody>
  </table>
</div>