<div class="col-md-8">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
        <div class="row">
            <div class="col-md-6">
                <label>Id da Empresa</label>
            </div>
            <div class="col-md-6">
                <p><%= @company.id %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Nome</label>
            </div>
            <div class="col-md-6">
                <p><%= @company.name %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>CNPJ</label>
            </div>
            <div class="col-md-6">
                <p><%= @company.cnpj %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Status</label>
            </div>
            <div class="col-md-6">
                <p><%= @company.status %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label>Data da Criação</label>
            </div>
            <div class="col-md-6">
                <p><%= @company.created_at %></p>
            </div>
        </div>
    </div>
</div>